@import "tailwindcss";

.container {
  max-width: 1320px;
  width: 1320px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
}

html {
  scroll-behavior: smooth;
}